<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Book Page</title>
</head>
<body>
    <h1>Book: <span th:text="${name}"/></h1>
    <form th:action="@{/deleteBook}" th:object="${book}" onsubmit="return confirm('Are you sure you want to delete this book?');" method="get">
        <input type="hidden" th:field="*{id}" />
        <button type="submit" style="color:red">Delete Book</button>
    </form>
    <div style="float:right">
        <h1>Comments</h1>
        <form th:action="@{/deleteComment}">
            <table>
                <thead>
                <tr>
                    <th>Customer</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${comments.empty}">
                    <td colspan="3"> No comments Available</td>
                </tr>
                <tr th:each="comment:${comments}">
                    <td><span th:text="${comment.customer.firstName} + ' ' + ${comment.customer.lastName}"></span></td>
                    <td><span th:text="${comment.comment}"></span></td>
                    <td><button type="submit" name="deleteComment" th:value="${comment.id}" onsubmit="return confirm('Are you sure you want to delete this comment?');">Remove Comment</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <h1>Orders</h1>
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Order Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.empty}">
            <td colspan="3"> No orders Available</td>
        </tr>
        <tr th:each="order:${orders}">
            <td><span th:text="${order.id}"></span></td>
            <td><span th:text="${order.customer.firstName} + ' ' + ${order.customer.lastName} + ' (' + ${order.customer.id} + ')'"></span></td>
            <td><span th:text="${#dates.format(order.date, 'dd-MMM-yyyy HH:mm')}"></span></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/}">
        <button type="submit">Go Back</button>
    </form>

</body>
</html>