<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer Page</title>
</head>
<body>
    <!--Delete Customer Section-->
    <h1>Customer: <span th:text="${name}"/></h1>
    <form th:action="@{/deleteCustomer}" th:object="${customer}" onsubmit="return confirm('Are you sure you want to delete this customer?');" method="get">
        <input type="hidden" th:field="*{id}" />
        <button type="submit" style="color:red">Delete Customer</button>
    </form>
    <div style="float:right">
        <h1>Comments</h1>
        <table>
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${comments.empty}">
                    <td colspan="2"> No comments Available</td>
                </tr>
                <tr th:each="comment:${comments}">
                    <td><span th:text="${comment.book.name}"></span></td>
                    <td><span th:text="${comment.comment}"></span></td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <!--New Comment Section-->
        <form th:action="@{/newComment}" th:object="${newComment}" method="get">
            <h2>New Comment</h2>
            <input type="hidden" th:field="${customer.id}" />
            <br>
            <select name="books" th:field="*{book.id}">
                <option value="">Select Option</option>
                <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name} + ' (' + ${book.id} + ')'"></option>
            </select>
            <br>
            <input type="text" th:field="*{comment}" name="newComment"/>
            <button type="submit">Post new Comment</button>
        </form>
    </div>

    <h1>Orders</h1>
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Book</th>
            <th>Order Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.empty}">
            <td colspan="3"> No orders Available</td>
        </tr>
        <tr th:each="order:${orders}">
            <td><span th:text="${order.id}"></span></td>
            <td><span th:text="${order.book.name}"></span></td>
            <td><span th:text="${#dates.format(order.date, 'dd-MMM-yyyy HH:mm')}"></span></td>
        </tr>
        </tbody>
    </table>

    <!--New Order Section-->
    <form th:action="@{/newOrder}" th:object="${newOrder}" method="get">
        <h2>New Order</h2>
        <input type="hidden" th:field="${customer.id}" />
        <select name="books" th:field="*{book.id}">
            <option value="">Select Option</option>
            <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name} + ' (' + ${book.id} + ')'"></option>
        </select>
        <button type="submit">Order this Book</button>
    </form>
    <br>
    <br>
    <form th:action="@{/}">
        <button type="submit">Go Back</button>
    </form>

</body>
</html>