<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer Page</title>
</head>
<body>
<h1><span th:text="${type}"/> with ID <span th:text="${tempData.id}"/> deleted successfully.</h1>
<form th:action="@{/}">
    <button type="submit">Return to Home</button>
</form>
</body>
</html>