<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Error Page</title>
</head>
<body>

    <br>
    <br>
    <br>
    <h1><span th:text="${type}"/> <span th:text="${name}"/> with ID <span th:text="${id}"/> cannot be saved.</h1>
    <br>
    <br>
    <br>
    <form th:action="@{/}">
        <button type="submit">Go Back</button>
    </form>

</body>
</html>