<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bookstore Searcher</title>
</head>
<body>
    <h1>Information about Book or Customer</h1>
    </br>
    <form th:action="@{/bookData}" th:object="${selectedBook}" method="get">
        <label>Select a Book</label>
        <select name="books" th:field="*{id}">
            <option value="">Select Option</option>
            <option th:each="book : ${bookOptions}" th:value="${book.id}" th:text="${book.name} + ' (' + ${book.id} + ')'"></option>
        </select>
        <button type="submit">Search by Book</button>
    </form>
    <br>
    <form th:action="@{/newBook}">
        <button type="submit">Add new Book to Bookstore</button>
    </form>
    <br>
    <br>
    <form th:action="@{/customerData}" th:object="${selectedCustomer}" method="get">
        <label>Select a Customer</label>
        <select name="customers" th:field="*{id}">
            <option value="">Select Option</option>
            <option th:each="customer : ${customerOptions}" th:value="${customer.id}" th:text="${customer.firstName} + ' ' + ${customer.lastName}  + ' (' + ${customer.id} + ')'"></option>
        </select>
        <button type="submit">Search by Customer</button>
    </form>
    <br>
    <form th:action="@{/newCustomer}">
        <button type="submit">Add new Customer to Bookstore</button>
    </form>
    <br>
</body>
</html>